<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227164915697-6n6st5qeo8a2v3ald1hbrfb23av487de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227164915697-6n6st5qeo8a2v3ald1hbrfb23av487de</string>
	<key>API_KEY</key>
	<string>AIzaSyAO4DKJCI6JtgsvjPm9oR2Opn_msxPbeyM</string>
	<key>GCM_SENDER_ID</key>
	<string>227164915697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myapp.intranetintelizign</string>
	<key>PROJECT_ID</key>
	<string>intranet-a922f</string>
	<key>STORAGE_BUCKET</key>
	<string>intranet-a922f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227164915697:ios:bd2dc50b6ad41ec532e650</string>
</dict>
</plist>